<app-input-text labelText="Nom d'utilisateur" inputName="name" value="{{name}}" (changeEvent)="onChangeEvent($event, 'name')"></app-input-text>
<app-input-password labelText="Mot de passe" inputName="password" value="{{password}}" (changeEvent)="onChangeEvent($event, 'password')"></app-input-password>
<app-input-password labelText="Confirmation mot de passe" inputName="confirmed_password" value="{{confirmedPassword}}" (changeEvent)="onChangeEvent($event, 'confirmedPassword')"></app-input-password>
<app-button (clickEvent)="onValidateEvent()" text="Enregistrement"></app-button>
