<div class="input-group">
	<app-label-text labelFor="{{ inputName }}" labelText="{{ labelText }}"></app-label-text>
	<input id="{{labelText}}" type="text" (change)="onChangeEvent($event)" [value]="inputValue" />
</div>
